@use '../01-usables/' as *;

nav {
    all: unset;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    .navbar {
        // background-color: rgba(255, 0, 242, 0.247);
        width: 100vw;
        height: 60px;
        align-items: center;
        display: flex;
        .menu__main {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-weight: 600;
            right: 20vw;
            position: absolute;
            // background-color: rgba(0, 136, 255, 0.281);
            #menu_svg {
                height:30px;
                width: 30px;
                padding-left: 15px;
            }
        }
      /*  .menu__main {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-weight: 600;
            right: 10vw;
            position: absolute;
            // background-color: rgba(0, 136, 255, 0.281);
            ul.list__nav {
                display: flex;
                width: 100%;
                align-items: center;
                flex-flow: row wrap;
                gap: 25px;
                flex: 1;
                padding-left: 0;

                li {
                    font-size: 0.8em;
                    position: relative;
                    top: 3px;
                    td.nav__icon {
                        display: flex;
                        align-items: center;
                    }
                }
                li, li::before {
                    display: flex;
                }
                li::before {
                    align-self: flex-start;
                    height: 16px;
                    fill: $black;
                    padding-right: 3px;
                    top: -30px;
                    
                }

              /*  li:nth-of-type(1):before {
                    content: url('../assets/house-door-fill.svg');
                }
                li:nth-of-type(2):before {
                    content: url('../assets/book-fill.svg');
                }
                li:nth-of-type(3):before {
                    content: url('../assets/camera-reels-fill.svg');
                }
                li:nth-of-type(4):before {
                    content: url('../assets/archive-fill.svg');
                }*/
                // display: flex;
                // width: 100%;
                // justify-content: space-between;
                // flex-flow: row wrap;  
                
                // li {
                //     display: inline;
                // }
            }
        }
