// COLORS
$primary-clr: hsl(60, 100%, 55%);
$secondary-clr: hsl(71, 86%, 49%);
$contrast-clr: hsl(238, 35%, 19%);
$white: hsl(0, 9%, 98%);

// FONTS
$body-font: 'Montserrat', sans-serif;
$heading-font: 'Rubik', sans-serif;

// FONT-SIZES
$s-h1: 5.653rem;
$s-h2: 3.998rem;
$s-h3: 2.827rem;
$s-h4: 1.999rem;
$s-h5: 1.414rem;
$s-h6: 1.2rem;
$s-p: 1rem;
$heading-line-height: 1.2;

$icon-size: calc($s-p * 1.5);