body {
  background-color: hsl(54deg, 100%, 55%);
  width: 100vw;
  margin-left: 0;
  top: 0;
  overflow-x: hidden;
}

script {
  display: none;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: hsl(0deg, 0%, 7%);
}

body {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1 {
  font-size: 5.653rem;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

h6 {
  font-size: 1.05rem;
  font-weight: 400;
}

.menu-svg svg {
  height: 12px;
}

.article_card {
  width: 22vw;
  height: 400px;
}
.article_card:nth-last-of-type(even) {
  background-color: hsl(0deg, 0%, 7%);
}
.article_card:nth-last-of-type(even) .article_text h6 {
  color: hsl(0deg, 9%, 98%);
}
.article_card:nth-last-of-type(even) .article_description p {
  color: hsl(0deg, 9%, 98%);
}
.article_card:nth-of-type(odd) .article_text h6 {
  color: hsl(0deg, 0%, 7%);
}
.article_card:nth-of-type(odd) .article_description p {
  color: hsl(0deg, 0%, 7%);
}
.article_card .article_image {
  width: 100%;
  height: 50%;
}
.article_card .article_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article_card .article_text {
  width: 100%;
  height: 50%;
}
.article_card .article_text .article_metadata p {
  font-size: 0.7rem;
  color: #FF7F11;
  font-weight: 600;
  font-style: italic;
}
.article_card .article_text div {
  margin-left: 5%;
  display: block;
}
.article_card .article_text .article_title {
  height: fit-content;
  width: 100%;
}
.article_card .article_text h6 {
  position: absolute;
  width: 17.6vw;
  top: 57.5%;
}
.article_card .article_text .article_description .text-overlay {
  height: 14px;
  width: 20.9vw;
  display: block;
  position: absolute;
  top: 343.2px;
  z-index: 15;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, hsl(0deg, 9%, 98%) 70%);
}
.article_card .article_text .article_description .text-overlay#black {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, hsl(0deg, 0%, 7%) 70%);
}
.article_card .article_text .article_description p {
  font-size: 12px;
  width: 90%;
  height: 3.6em;
  overflow: hidden;
  top: 75%;
  position: absolute;
  width: 17.6vw;
}
.article_card .article_text .article_link {
  margin-left: 5%;
  bottom: 5%;
  position: absolute;
  width: 60px;
  display: block;
}
.article_card .article_text .article_link a {
  color: #FF7F11;
  font-size: 0.6rem;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  left: -31px;
}

/* width */
::-webkit-scrollbar {
  display: none;
}

div.white__background {
  background-color: hsl(0deg, 9%, 98%);
  width: 96vw;
  height: 100vh;
  right: 0;
  bottom: -70vh;
  position: absolute;
  z-index: -1;
  border-radius: 5px;
}

.articles {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
  margin: 0 15vw;
}

.container {
  width: 70vw;
  margin: 0 auto;
  top: 55vh;
  position: absolute;
  z-index: 10;
}

header {
  position: absolute;
  top: 20vh;
  display: flex;
  flex-flow: column wrap;
}
header h1 {
  margin: 0;
  margin-left: calc(15vw - 10px);
  font-size: 10rem;
  font-weight: 900;
  line-height: 0.9;
}
header blockquote {
  font-style: italic;
  margin: 0;
  margin-left: 15vw;
  font-weight: 600;
}

nav {
  all: unset;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
nav .date {
  margin-left: 2vw;
}
nav .navbar {
  width: 100vw;
  height: 60px;
  align-items: center;
  display: flex;
  /*  .menu__main {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-weight: 600;
        right: 10vw;
        position: absolute;
        // background-color: rgba(0, 136, 255, 0.281);
        ul.list__nav {
            display: flex;
            width: 100%;
            align-items: center;
            flex-flow: row wrap;
            gap: 25px;
            flex: 1;
            padding-left: 0;

            li {
                font-size: 0.8em;
                position: relative;
                top: 3px;
                td.nav__icon {
                    display: flex;
                    align-items: center;
                }
            }
            li, li::before {
                display: flex;
            }
            li::before {
                align-self: flex-start;
                height: 16px;
                fill: $black;
                padding-right: 3px;
                top: -30px;

            }

          /*  li:nth-of-type(1):before {
                content: url('../assets/house-door-fill.svg');
            }
            li:nth-of-type(2):before {
                content: url('../assets/book-fill.svg');
            }
            li:nth-of-type(3):before {
                content: url('../assets/camera-reels-fill.svg');
            }
            li:nth-of-type(4):before {
                content: url('../assets/archive-fill.svg');
            }*/
}
nav .navbar .menu__main {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  right: 20vw;
  position: absolute;
}
nav .navbar .menu__main #menu_svg {
  height: 30px;
  width: 30px;
  padding-left: 15px;
}
