@use '../01-usables/' as *;

div.white__background {
    background-color: $white;
    width: 96vw;
    height: 100vh;
    right: 0;
    bottom: -70vh;
    position: absolute;
    z-index: -1;
    border-radius: 5px;
}