@use '../01-usables/' as *;

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    background-color: $primary-clr;
    width: 100vw;
    margin-left: 0;
    top: 0;
    overflow-x: hidden;
}

script {
    display: none;
}